alembic==1.14.0
Flask==3.1.0
flask_apscheduler==1.13.1
Flask_Cors==5.0.0
Flask_JWT_Extended==4.7.1
Flask-Migrate==4.0.7
flask_sqlalchemy==3.1.1
google_auth_oauthlib==1.2.1
gspread==6.2.0
openai==1.70.0
protobuf==6.30.2
PyMySQL==1.1.1
SQLAlchemy==2.0.36
Werkzeug==3.1.3
