# Flashcard and user storage
export DATABASE_ENGINE=
export DATABASE_USERNAME=
export DATABASE_PASSWORD=
export DATABASE_HOST=
export DATABASE_PORT=
export DATABASE_NAME=

# Access config
export JWT_SECRET_KEY=
export JWT_ACCESS_TOKEN_EXPIRES=
export JWT_REFRESH_TOKEN_EXPIRES=

# For incorrect answers, we call out to openAI.
export OPENAI_API_KEY=HxYTVdLj4OIA
export OPENAI_ORGANIZATION=
export OPENAI_PROJECT_ID=
export OPENAI_MODEL=

# [WIP] - for fetching data from google sheets
export GOOGLE_OAUTH2_CREDS_FILE=
