:root {
    --background: #FFFFFF;
    --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #121212;
        --foreground: #FFFFFF;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.MuiCard-root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.MuiCardActionArea-root {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
